:root{
    --blue:#32589e;
    --darkBlue:#172847;
    --transparentBlue:#32589e98;
    --white:#ffffff;
    --black:#000000;
    --red:#fa1818;
    --lightGray: #a1a1a1;
    --violet:#ee82ee;
    --transparentLightGreen:#ccf1e594;
    --transitionTime:0.45s
}

html{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

@media only screen and (min-width:600px){
    html{
        font-size: 16px;
        
    }
}

@media only screen and (min-width:800px){
    html{
        font-size: 18px;
    }
}

body{
    margin:0;
    padding: 1rem;
    width: calc(100% - 2 * 1rem);
    min-height: calc(100vh);
}

.overflow-hidden{
    overflow-y: hidden;
}

#currency-component{
    position: relative;
    margin: auto;
    width: calc(90% - 2 * 1rem);
    max-width: 39rem;
    padding: 1rem;
    height: auto;
    min-height: calc(30rem - 2 * 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 0.8rem;
    box-shadow: 0 0 0.8rem var(--lightGray);
}

.date-container{
    position: absolute;
    font-size: 1rem;
    top: 0;
    right: 1rem;
    color: var(--darkBlue);
    width: auto;
    padding: 1rem;
}

.input-container{
    position: relative;
    width: 100%;
}

.input-container:focus-within .input-label{
    color: var(--blue);
}

.reverse-button{
    font-size: 1.2rem;
    position: absolute;
    right: 0;
    top: 50%;
    color: var(--blue);
    background-color: var(--white);
    border: none;
}

.reverse-button:focus{
    outline: none;
    box-shadow: 0 0 0.1rem var(--blue);
}

.input-label{
    position: absolute;
    color: var(--lightGray);
    top: 0.5rem;
    left: 1rem;
    font-size: 0.7rem;
}

.currency-input{
    font-size: 1.2rem;
    border: none;
    font-weight: bold;
    border-bottom: 0.15rem solid var(--blue);
    width: calc(100% - 2 * 1rem);
    padding: 2rem 1rem 1rem 1rem;
    color: var(--blue);
    caret-color: var(--blue);
    transition: all 0.45s ease-in-out;
}

.currency-input:focus{
    outline: none;
}

.convert-button{
    border: none;
    font-size: 1.2rem;
    padding: 0.5rem;
    width: 100%;
    height: 3rem;
    border-radius: 10rem;
    color: var(--white);
    background-color: var(--blue);
    transition: all 0.45s ease-in-out;
}

.convert-button:hover{
    cursor: pointer;
    box-shadow: 0 0 0.5rem var(--lightGray);
}

.convert-button:focus{
    outline: none;
    box-shadow: 0 0 0.5rem var(--lightGray);
}

.convert-button:disabled{
    opacity: 0.2;
}

.select-container{
    border: 0.1rem solid var(--lightGray);
    position: relative;
    display: flex;
    width: calc(100% - 2 * 1rem);
    padding: 1rem;
}


.currency-select:focus{
    outline: none;
    color: var(--blue);
    font-weight: bold;
}

.error-msg{
    position: absolute;
    opacity: 0;
    margin: 0;
    bottom: -2rem;
    width: 80%;
    text-align: center;
    color: var(--red);
    word-break: break-word;
    transform: translateY(-4rem);
    transition: all 0.45s ease-in-out;
}

.active-error{
    position: relative;
    opacity: 1;
    transform: translateY(-2rem);
}

.result-converter{
    position: absolute;
    text-align: center;
    opacity: 0;
    bottom: 100%;
    color: var(--blue);
    font-weight: bold;
    transform: translate(-2rem,0);
    visibility: hidden;
    transition: all 0.45s ease-in;
}

.active-result{
    position: relative;
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.counter-container{
    position: absolute;
    opacity: 0;
    width: 12rem;
    bottom: 100%;
    padding: 0.3rem;
    height: 2rem;
    background-color: var(--transparentBlue);
    transform: translate(2rem,0);
    visibility: hidden;
    transition: all 0.45s ease-in;
}

.active-timer{
    position: relative;
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
}

.time-container{
    position: relative;
    width: 3rem;
    height: 2rem;
    display: inline-block;
}

.time-container:nth-of-type(1){
    width: 6rem;
}

.time-container:nth-of-type(1) .time{
    width: 100%;
}

.time{
    top: 50%;
    left: 50%;
    width: 3rem;
    height: 2rem;
    position: absolute;
    text-align: center;
    line-height: 2rem;
    transform:translate(-50%,-50%);
    color: var(--white);
    background-color: var(--transparentBlue);
    transition: all 0.25s ease-in-out;
}

/*------ Custom select Element------ */

.select-container{
    position: relative;
    border: none;
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    min-width: 8rem;
    transition: all var(--transitionTime) ease-in-out;
    color: var(--blue);
    padding: 0.5rem;
    background-color: var(--white); 
}

.select-container:hover{
    cursor: pointer;
}

.select-container:focus{
    outline: none;
    font-weight: bold;
}

.select-container .select-container:hover{
    cursor: pointer;
}

.select-container .active-panel{
    display: block !important;
}


.select-container  .fa-angle-down{
    color: var(--lightBlue);
    position: absolute;
    right: 0.5rem;
    font-size: 1.2rem;
}

.select-container .select-currency-flag-img{
    width: 2rem;
    margin-right: 0.5rem;
}

.select-container .select-currency-label{
    font-size: 1.2rem;
}

/*---- popup ----*/
.select-container .currency-list-select{
    height: auto;
    width: calc(100vw - 2 * 1rem);
    padding: 1rem;
    list-style-type:none;
    margin: 0;
    background-color: var(--white);
    position: fixed;
    top:0;
    left: 0;
    z-index: 9;
    display: none;
    overflow-y: auto;
    box-shadow: 0 0 0.5rem var(--lightGray);
    min-height: calc(100vh - 2rem);
    max-height: calc(100vh - 2rem);
}

@media only screen and (min-width: 600px){
    .select-container .currency-list-select{
        width: calc(100% - 2 * 1rem);
        position: absolute;
        top:0;
        right: 0;
        z-index: 9;
        display: none;
        max-height:  calc(18rem);
        min-height: calc(17rem);
    }
}

.select-container .currency-list-select li{
    position: relative;
    color: gray; 
    
}

.select-container .currency-list-select .item-currency-select{
    display: flex;
    align-items: center;
    padding: 0.3rem;
    width: calc(100% - 2 * 0.3rem);
    border-radius: 0.5rem;
    transition: all var(--transitionTime) ease-in-out;
}

.select-container .currency-list-select .item-currency-select .item-currency-select-button{
    color: var(--lightGray);
    background-color: transparent; 
    width: 100%;
    border:none;
    display: flex;
    align-items: center;
    padding: 0.3rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    transition: all var(--transitionTime) ease-in-out;
}

.select-container .currency-list-select .item-currency-select .item-currency-select-button .item-currency-select-label:nth-of-type(2){
    font-size: 0.8rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.select-container .currency-list-select .item-currency-select .item-currency-select-button:hover,
.select-container .currency-list-select .item-currency-select .item-currency-select-button:focus{
    cursor: pointer;
    outline: none;
    background-color: var(--transparentLightGreen);
}

.select-container .select-currency-label:nth-of-type(2){
    font-size: 0.8rem;
    margin-left: 0;
    max-width: 5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

@media only screen and (min-width: 350px){
    .select-container .select-currency-label:nth-of-type(2){
        max-width: unset;
    }
}

.select-container .currency-list-select .selected-currency{
    background-color: var(--blue) !important;
    color: var(--white) !important;
}

.select-container .currency-list-select .selected-currency  .item-currency-select-button{
    color: var(--white) !important;
}


.select-container .currency-list-select .seach-currency-container{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
    border-bottom: 1px solid var(--lightGray);
}

.select-container .currency-list-select .seach-currency-container .error-message-search{
    color: var(--red);
    width: 100%;
    font-size: 1rem;
    position: absolute;
    left: 50%;
    bottom: -2rem;
    transform-origin: 50% 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: all var(--transitionTime) ease-in-out;
}

.select-container .currency-list-select .seach-currency-container .search-currency-input{
    width: calc(100% - 2 * 0.5rem);
    padding: 0.5rem;
    border: none;
    font-size: 1rem;
}

.select-container .currency-list-select .seach-currency-container i{
    color: var(--lightGray);
    font-size: 1rem;
}

.select-container .currency-list-select .search-currency-input:focus{
    outline: none;
}


.select-container .currency-list-select li img{
    width: 1.8rem;
    margin-right: 0.5rem;
}
